<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio de Sesión
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>Login</h1>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
    <p>Olvide la contraseña</p>
    <p>Crear usuario</p>
    <ion-button color="success">Iniciar</ion-button>
    
  </div>

</ion-content>
